/* 
  * downloaded from: https://www.cufonfonts.com/font/belta-bold 
  Also refer: https://www.cufonfonts.com/font/cold-snowflake 
*/

/* 
  ~ font-weight: normal; -> font-weight: 400;
  thin -> 100;
  ExtraLight -> 200;
  Light -> 300;
  Medium -> 500;
  SemiBold -> 600;
  Bold -> 700;
  ExtraBold -> 800;
  Black/Heavy -> 900; 
*/

/* 
  * woff -> WOFF - Web Open Font Format. It's Compressed TrueType/OpenType font
*/

@font-face {
  font-family: 'Belta bold';
  src: url('../fonts/belta-bold-cufonfonts/belta-regular.ttf');
  src: url('../fonts/belta-bold-cufonfonts/belta-regular.woff2') format('woff2'),
       url('../fonts/belta-bold-cufonfonts/belta-regular.woff') format('woff'),
       url('../fonts/belta-bold-cufonfonts/belta-regular.otf') format('opentype'),
       url('../fonts/belta-bold-cufonfonts/belta-regular.ttf') format('truetype'),
       url('../fonts/belta-bold-cufonfonts/belta-regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Belta bold';
  src: url('../fonts/belta-bold-cufonfonts/belta-light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Belta bold';
  src: url('../fonts/belta-bold-cufonfonts/belta-bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
