<header class="main-header">
  <div>
      <a href="./" class="main-header__brand">
        <!-- <img src="./uhost-icon.png" alt="Your favorite uHost" class="brand-img"> -->
      </a>
  </div>
  <nav class="main-nav">
      <ul class="main-nav__items">
          <li class="main-nav__item">
              <a href="pages/packages/" id="pkg-link">Packages</a>
          </li>
          <li class="main-nav__item">
              <a href="pages/customers/" id="cus-link">Customers</a>
          </li>
          <li class="main-nav__item main-nav__item--cta">
              <a href="pages/start-hosting/" id="host-link">Start Hosting</a>
          </li>
      </ul>
  </nav>
</header>