<header class="main-header">
  <div>
      <a href="/css-uhost" class="main-header__brand">
        <img src="./images/uhost-icon.png" alt="Your favorite uHost">
      </a>
  </div>
  <nav class="main-nav">
      <ul class="main-nav__items">
          <li class="main-nav__item">
              <a href="pages/packages/">Packages</a>
          </li>
          <li class="main-nav__item">
              <a href="pages/customers/">Customers</a>
          </li>
          <li class="main-nav__item main-nav__item--cta">
              <a href="pages/start-hosting/">Start Hosting</a>
          </li>
      </ul>
  </nav>
</header>